<div class="container">
    <div class="card mb-4">            
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Módulo de Administração
            </h6>
        </div>
        <div class="card-body">
            <div class="form-row">
                
                <!-- TAB SUPERIOR -->
                <div class="form-group col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                        <a [ngClass]="classeTipo" (click)="exibeDiv('TipoEquipamento');">Tipo de Equipamento</a>
                        </li>
                        <li class="nav-item">
                        <a [ngClass]="classeSituacao" (click)="exibeDiv('SituacaoEquipamento');">Situação de Equipamento</a>
                        </li>
                        <li class="nav-item">
                        <a [ngClass]="classeDoadores" (click)="exibeDiv('Doadores');">Doadores</a>
                        </li>
                        <li class="nav-item">
                            <a [ngClass]="classeTecnicos" (click)="exibeDiv('Tecnicos');">Técnicos</a>
                        </li>
                        <li class="nav-item">
                            <a [ngClass]="classeAlunos" (click)="exibeDiv('Alunos');">Alunos</a>
                        </li>
                        <li class="nav-item">
                            <a [ngClass]="classeRanking" (click)="exibeDiv('Ranking');">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a [ngClass]="classeMensagens" (click)="exibeDiv('Mensagens');">Mensagens</a>
                        </li>
                        <!--<li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                        </li>-->
                    </ul>

                </div>
            </div>
            <div class="form-row">
                <!--PÁGINA -->
                <div class="form-group col-md-12">
                    <div id="TipoEquipamento" [hidden]="TipoEquipamento">
                        <app-cadastro-tipo-equipamento></app-cadastro-tipo-equipamento>
                    </div>
                    <div id="SituacaoEquipamento" [hidden]="SituacaoEquipamento">
                        <app-cadastro-situacao-equipamento></app-cadastro-situacao-equipamento>
                    </div>
                    <div id="Doadores" [hidden]="Doadores">
                        <app-doadores></app-doadores>
                    </div>
                    <div id="Tecnicos" [hidden]="Tecnicos">
                        <app-tecnicos></app-tecnicos>
                    </div>
                    <div id="Alunos" [hidden]="Alunos">
                        <app-alunos></app-alunos>
                    </div>
                    <div id="Ranking" [hidden]="Ranking">
                        <app-ranking></app-ranking>
                    </div>
                    <div id="Mensagens" [hidden]="Mensagens">
                        <app-mensagem></app-mensagem>
                    </div>
                </div>
            </div>
    </div>
</div>
