<div class="row">
  <div class="col-md-12">
    <div class="container2">
      <nav class="navbar navbar-expand-md navbar-dark">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/sobre-projeto">Sobre o Projeto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/quadro">Minha Página</a>
              </li>                  
              
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contato">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin">Admin</a>
            </li>                        
            </ul>           
           
          </div>
          <ul class="navbar-nav mr-auto">
            <li [hidden]="!ver" class="nav-item">
              <a class="nav-link" routerLink="/cadastro-usuario">Cadastre-se</a>
            </li>
            <li [hidden]="!ver" class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li [hidden]="ver" class="nav-item">
              <a class="nav-link">{{myNome}}</a>
            </li>
            <li [hidden]="ver" class="nav-item">
              <a class="nav-link" *ngIf="linkRedirectDoador" routerLink ="/page-doador" [queryParams]="doador">| Meus Dados</a>
              <a class="nav-link" *ngIf="linkRedirectTec" routerLink ="/cadastro-tecnico" [queryParams]="tecnico">| Meus Dados</a>
              <a class="nav-link" *ngIf="linkRedirectAluno" routerLink ="/cadastro-aluno" [queryParams]="aluno">| Meus Dados</a>
            </li>
            <li [hidden]="ver" class="nav-item">
              <a class="nav-link" (click)="logout()">| Sair</a>
            </li>
          </ul>
        </nav>
        </div>
  </div>
  
</div>
