
html, body { 
  background-image: url('assets/img/bg.jpg');
  height: 100%;
  background-color: #161616;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container2{
  width: 90%;
  margin:0 auto;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    border:solid 1px #cecece;
    width: 90%;
    margin-left: 0px;
    margin-top:10px;
    border-radius: 10px;
  }

  .mat-header-cell{
    background-color:#ecf790;
  }

  .mat-cell{
    border-bottom: #cecece 1px solid;
    margin-left: 5px;
  }

  .mat-header-row{
    border:0px;
  }

  .mat-row{
    border:0px;
  }

  .card-body{
    border-left: #FAAC58 7px solid;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #2AA0E6 !important;
    border:0px;
  }

  .btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #E94B30 !important;
    border:0px;
  }

  .navbar-dark .navbar-nav .nav-link{
    color: white;
  }
  
  .navbar {
    background-color: #2AA0E6;
  }

  .text-primary{
    color: coral;
  }

  .quadro{
    background-color:#FBFAE6;
    padding: 10px;
  }

  .cabecalhoQuadro{
    background-color: #8DE4ED;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    height: 50px;
    color:black;
  }