
html, body { 
  height: 100%; background-image: url('assets/img/bg.jpg')
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.tabDetalhe {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    border-width:0px;
}
.tabCabecalho {
    text-align: left;
    max-width: 300px;
    background-color:#E3F6CE;
    height: 20px;
    padding: 5px;
    font-weight: 500;
}

.trlinha{
    border-bottom: 1px solid #E3F6CE;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
