<div class="container2">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Sou Doador
            </h6>
        </div>
        <div class="card-body">
            <form [formGroup]="formDoador" #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="nomeCompleto">Nome Completo: <span style="color:red;">*</span></label>
                        <input type="text" class="form-control"
                        id="nomeCompleto" 
                        formControlName="nomeCompleto"
                        required>
                    </div>
                    <mdb-error class="text-danger" 
                    *ngIf="nomeCompleto.invalid && (nomeCompleto.dirty || nomeCompleto.touched)">
                    Digite seu Nome Completo</mdb-error>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="cep">CEP: <span style="color:red;">*</span></label>
                        <input type="text" maxlength="8" class="form-control" id="cep" 
                        formControlName="cep"
                        (blur)="consultaCep()"
                        onkeypress="return SomenteNumero(event);">
                        <mdb-error class="text-danger" 
                        *ngIf="cep.invalid && (cep.dirty || cep.touched)">
                        Digite seu CEP</mdb-error>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="logradouro">Logradouro: </label>
                        <input type="text" class="form-control" id="logradouro" 
                        formControlName="logradouro"
                        [readonly]="true">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="numeroCasa">Número: <span style="color:red;">*</span></label>
                        <input type="text" class="form-control" 
                        formControlName="numeroCasa"
                        id="numero" >
                        <mdb-error class="text-danger" 
                        *ngIf="numeroCasa.invalid && (numeroCasa.dirty || numeroCasa.touched)">
                        Digite um Número de Residência</mdb-error>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="bairro">Bairro: </label>
                        <input type="text" class="form-control" id="bairro" formControlName="bairro" [readonly]="true">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cidade">Cidade: </label>
                        <input type="text" class="form-control" id="cidade" formControlName="cidade" [readonly]="true">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="estado">Estado: </label>
                        <input type="text" class="form-control" id="estado" formControlName="estado" [readonly]="true">
                    </div>
                    
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="complemento">Complemento: </label>
                        <input type="text" class="form-control" id="complemento" formControlName="complemento">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="telefone">Telefone Fixo: </label>
                        <input type="tel" class="form-control" id="telefone" formControlName="telefone"
                        onkeypress="$(this).mask('(00) 0000-00009')">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="celular">Telefone Celular:  <span style="color:red;">*</span></label>
                        <input type="tel" class="form-control" id="celular" 
                        formControlName="celular"
                        onkeypress="$(this).mask('(00) 0000-00009')">
                        <mdb-error class="text-danger" 
                        *ngIf="celular.invalid && (celular.dirty || celular.touched)">
                        Digite um Telefone</mdb-error>
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-primary">{{salvaOuEdita? "Cadastrar" : "Atualizar" }}</button>
                <button type="submit" class="btn btn-secondary ml-2">Cancelar</button><br>
                <mdb-error class="text-danger" 
                        *ngIf="formularioInvalido">
                        Verifique os Campos Obrigatórios</mdb-error>
            </form>
        </div>
    </div>
</div>