<div class="container">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Sou Doador
            </h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="nome">Nome Completo</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite seu nome aqui">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" id="cep" placeholder="00000-000">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="logradouro">Logradouro</label>
                        <input type="text" class="form-control" id="logradouro" placeholder="rua / avenida / viela / travessa">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="numero">Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="ex 425">
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="bairro" placeholder="Jardim dos Reis">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Franco da Rocha">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="complemento">Complemento</label>
                        <input type="text" class="form-control" id="complemento" placeholder="ex: bloco A ap 320">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="telefone-fixo">Telefone Fixo</label>
                        <input type="tel" class="form-control" id="telefone-fixo" placeholder="(00)0000-0000">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="telefone-celular">Telefone Celular</label>
                        <input type="tel" class="form-control" id="telefone-celular" placeholder="(99)99999-9999">
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="submit" class="btn btn-secondary ml-2">Cancelar</button>
            </form>
        </div>
    </div>
</div>