<div class="container2">
    <div class="card mb-4">
        
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 text-primary">
                    Novo Usuário
                </h6>
            </div>
        
        <div class="card-body">
            <div class="form-group">
                <form [formGroup]="formUsuario" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
                    <div class="form-group">
                      <label for="nome">Digite um nome de usuário:  <span style="color:red;">*</span></label>
                      <input
                      type="text"
                      class="form-control"
                      id="nome"
                      name="nome"
                      formControlName="nome"
                      mdbInput mdbValidate
                      (blur)="verificaUser($event.target.value)">
                      <mdb-error class="text-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">Digite um Nome de Usuário com pelo menos 3 dígitos</mdb-error>
                      <div [hidden]="erroUser" class="text-danger">Usuário já cadastrado, por favor digite outro nome para usuário!</div>
                    </div>
                    
                    <div class="form-group">
                      <label for="email">Digite seu Email:  <span style="color:red;">*</span></label>
                      <input
                      type="email"
                      class="form-control"
                      id="email"
                      formControlName="email"
                      mdbInput mdbValidate
                      (blur)="verificaEmailExiste($event.target.value)">
                      <mdb-error class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">Email inválido</mdb-error>
                      <div [hidden]="escondeMsgErroEmail" class="alert alert-danger alert-dismissible fade show" role="alert">
                        Já existe um usuário cadastrado para esse email.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="senha">Digite uma senha:  <span style="color:red;">*</span></label>
                      <input
                      type="password"
                      class="form-control"
                      id="senha"
                      formControlName="senha"
                      (blur)="capturaSenha($event.target.value)">
                    </div>
                    <div class="form-group">
                      <label for="confirmaSenha">Confirme a senha:  <span style="color:red;">*</span></label>
                      <input
                      type="password"
                      class="form-control"
                      id="confirmaSenha"
                      formControlName="confirmaSenha"
                      (keyup)="compara($event.target.value)"
                      >
                    </div>
                    <div [hidden]="escondeMsgErroSenha" class="alert alert-danger alert-dismissible fade show" role="alert">
                      As senhas não são iguais.
                    </div>
                    <div>Eu sou um:</div>
                    <div class="form-check-inline">
                      <input  class="form-check-input"
                              type="radio"
                              formControlName="radioTipo"
                              name="radioTipo"
                              id="doador"
                              value="Doadores"
                              checked>
                      <label class="form-check-label" for="doador">Doador</label>
                    </div>
                    <div class="form-check-inline">
                      <input  class="form-check-input"
                              type="radio"
                              formControlName="radioTipo"
                              name="radioTipo"
                              id="tecnico"
                              value="Tecnicos">
                      <label class="form-check-label" for="tecnico">Técnico</label>
                    </div>
                    <div class="form-check-inline">
                      <input  class="form-check-input"
                              type="radio"
                              formControlName="radioTipo"
                              name="radioTipo"
                              id="aluno"
                              value="Alunos">
                      <label class="form-check-label" for="alunoo">Aluno</label>
                    </div>
                    <div class="form-row mt-3">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button [disabled]="desabilitaBotao" type="submit" class="btn btn-primary ml-2" data-dismiss="modal">Cadastrar</button>
                      </div>
                </form>
                
            </div>
        </div>
    </div>
</div>



