<div class="container2">
        <div class="card">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
              Faça seu login
            </h6>
          </div>
          <div class="card-body d-flex align-items-center justify-content-center">
            <div class="caixa">
              <h5 class="text-center">Entre com suas credenciais DoAju</h5>
              <form [formGroup]="formLogin" #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group mt-3">
                  <label for="email-login">Email</label>
                  <input type="email" class="form-control" id="email-login"
                  formControlName="email">
                </div>
                <div class="form-group">
                  <label for="senha-login">Senha</label>
                  <input type="password" class="form-control" id="senha-login"
                  formControlName="senha">
                </div>
                <div [hidden]="escondeMensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
                  Email ou senha inválido
                </div>
                <a href="#" class="d-inline-block" data-toggle="modal" data-target="#esqueci-senha-modal">Esqueci minha
                  senha</a><br>
                  <button type="submit" class="btn btn-primary mt-3">Login</button>
                
              </form>
            </div>

          </div>
        </div>

        <!-- Modal esqueci minha senha -->
        <div class="modal fade" id="esqueci-senha-modal" tabindex="-1" aria-labelledby="modalEsqueciSenha" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalEsqueciSenha">Cadastro de nova senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="formLogin" #f="ngForm">
                  <div class="form-group">
                    <label for="nomeC">Digite seu nome completo:</label>
                    <input type="text" class="form-control" id="nomeC" formControlName="nomeCompleto">
                  </div>
                  <div class="form-group">
                    <label for="email-recuperar">Digite o email cadastrado no DoAju:</label>
                    <input type="email" class="form-control" id="email-recuperar" formControlName="emailRec">
                  </div>
                  <div class="alert alert-danger" role="alert" [hidden]="verErro">
                    Nome ou email não existem!
                  </div>
                  <div class="form-group" [hidden]="ver">
                    <label for="nvs">Digite a nova senha:</label>
                    <input type="password"
                    class="form-control"
                    id="nvs"
                    formControlName="novaSenhaRec"
                    (blur)="capturaSenha($event.target.value)">
                  </div>
                  <div class="form-group" [hidden]="ver">
                    <label for="nvs1">Digite novamente a nova senha</label>
                    <input type="password"
                    class="form-control"
                    id="nvs1"
                    formControlName="novaSenha2Rec"
                    (keyup)="compara($event.target.value)">
                  </div>
                  <div class="alert alert-danger" role="alert" [hidden]="verErroSenha">
                    As senhas não são iguais
                  </div>
                </form>
              </div>
              <div  class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button [disabled]="botaoDisable" type="button" class="btn btn-primary" (click)="decide()">{{ver? "Recuperar Senha" : "Alterar Senha"}}</button>
              </div>
            </div>
          </div>
        </div>
   
   
    
</div>