<div class="container">
        <div class="card">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
              Faça seu login
            </h6>
          </div>
          <div class="card-body d-flex align-items-center justify-content-center">
            <div class="caixa">
              <h5 class="text-center">Entre com suas credenciais DoAju</h5>
              <form [formGroup]="formLogin" #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group mt-3">
                  <label for="email-login">Email</label>
                  <input type="email" class="form-control" id="email-login"
                  formControlName="email">
                </div>
                <div class="form-group">
                  <label for="senha-login">Senha</label>
                  <input type="password" class="form-control" id="senha-login"
                  formControlName="senha">
                </div>
                <div [hidden]="escondeMensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
                  Email ou senha inválido
                </div>
                <a href="#" class="d-inline-block" data-toggle="modal" data-target="#esqueci-senha-modal">Esqueci minha
                  senha</a><br>
                  <button type="submit" class="btn btn-primary mt-3">Login</button>
                
              </form>
            </div>

          </div>
        </div>

        <!-- Modal esqueci minha senha -->
        <div class="modal fade" id="esqueci-senha-modal" tabindex="-1" aria-labelledby="modalEsqueciSenha" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalEsqueciSenha">Recupere sua senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="email-recuperar">Digite o email cadastrado no DoAju:</label>
                    <input type="email" class="form-control" id="email-recuperar"
                      placeholder="emailcadastrado@seudominio.com.br">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Recuperar Senha</button>
              </div>
            </div>
          </div>
        </div>
   
   
    
</div>