<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                            <img src="./../../assets/img/img01.jpg" width="60%">
                        </div>
                        <div class="col-md-6"><br><br>
                            <h3 class="m-0 font-weight-bold text-primary">Doador</h3><br>
                            <p>Primeiro passo é a doação! Se você possui algum equipamento que não usa mais e queira doar, basta
                                entrar no sistema e fazer o cadastro dele! Em seguida, se o equipamento precisar de reparos ele
                                será disponibilizado para um técnico voluntário na região.
                            </p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-6"><br><br>
                            <h3 class="m-0 font-weight-bold text-primary">Técnico</h3><br>
                            <p>Segundo passo é o técnico voluntário que fará a retirada do equipamento, caso o mesmo precise de algum reparo.
                                Se o equipamento não precisar de reparo ele entra como disponível assim que é feito seu cadastro.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="./../../assets/img/img02.jpg" width="60%">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                            <img src="./../../assets/img/img03.jpg" width="60%">
                        </div>
                        <div class="col-md-6"><br><br>
                            <h3 class="m-0 font-weight-bold text-primary">Aluno</h3><br>
                            <p>Por último, o equipamento, já reparado é destinado a um aluno que necessite do mesmo e tenha feito
                                o cadastro no sistema e preencha os requisitos para receber o equipamento!
                            </p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
