<div class="container2">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <img src="./../../assets/img/logoPrincipal.jpg" width="100%">
                        </div>
                        <div class="col-md-5"><br><br>
                            <h3>Seja Bem Vindo ao DoAju!</h3><br>
                            <p>Esse projeto foi criado com o intuito de ajudar crianças e adolescentes que não possuem acesso às ferramentas de 
                            conexão a internet. O equipamento que sobra em sua casa pode fazer falta na casa de outra pessoa. Pense nisso!</p>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">

                    </div>
                    <div class="row" style="background-color: rgb(248, 204, 184); color:rgb(78, 78, 78); padding-top: 20px;font-family: 'Grandstander', cursive;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" style="text-align: center;">
                            <h4>Você Sabia? O Brasil tem 4,8 milhões de crianças e adolescentes sem internet em casa</h4>
                        </div>
                        <div class="col-md-2"></div>
                        <br><br>
                        <div class="col-md-2"></div>
                        <div class="col-md-8" style="text-align: center;">
                            <p>Fonte: 
                                <a href="https://agenciabrasil.ebc.com.br/educacao/noticia/2020-05/brasil-tem-48-milhoes-de-criancas-e-adolescentes-sem-internet-em-casa#:~:text=Publicado%20em%2017%2F05%2F2020,os%20brasileiros%20nessa%20faixa%20et%C3%A1ria.">Agência Brasil</a>
                            </p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="color:rgb(78, 78, 78);">
                        <div class="col-md-12" style="text-align: center;">
                            <img src="./../../assets/img/children.jpg" width="60%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
